
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Inter !important;
}
.nav-link{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #0D0A19;
    margin-left: 20px;
}

.sign_up{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #9A9EA7;
}
.sign_up img{
    background: #F5F6F7;
    border-radius: 10px;
    width: 30px;
    height: 25px;
    padding: 5px 8px;
    margin-right: 5px;
}
.scetion-1{
    background-image: url("Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}


.scetion-1 .container h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -0.3047619163990021px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}
.scetion-1 .container p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
.TopFooterSection{
    background: #FFFFFF;
    box-shadow: 0px 3px 4px 0px #999BA826;
    border-radius: 8px;
    max-width: 945px;
    height: 82px;
    position: absolute;
    margin: 0 auto;
    top: 590px;
    left: 247px;
    gap: 0px;
    opacity: 0px;

}
.TopFooterSection .row{
    max-width: 100%;
}

.col-md-2{
    width: 164px;
    height: 62px;
    top: 617px;
    left: 247px;
    gap: 0px;
    opacity: 0px;


}
.TopFooterSection p{
//styleName: Regular / 12px / Regular;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #9A9EA7;
    margin-left: 20px;
    padding-top: 20px;
}
.TopFooterSection select option{
//styleName: Regular / 14px / Bold;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #0D0A19;
    width: 71px;
    height: 21px;
    top: 29px;
    left: 20px;
    gap: 0px;
    opacity: 0px;




}
.form-select{
    border: none !important;
    margin-top: -20px;
    margin-left: 10px;
}
.withoutP{
    margin-top: 45px;

    }
.withoutP .form-select option{
//styleName: Regular / 14px / Bold;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #9A9EA7;

}

@media all and (max-width: 767px){
    .scetion-1 .container h1{
        font-size: 38px;
    }
    .scetion-1 .container p{
        font-size: 18px;
    }
    .TopFooterSection{
        height: 100px;
        margin-top: -50px !important;
    }
    .section-2{
        margin-top: 320px !important;
    }
    .section-2 .container .row img{
        margin-top: 120px;

    }


}


/*section-2*/
.section-2{
    margin-top: 180px;
    margin-bottom: 100px;
}

.text-heading{


}
.card{
    border-radius: 4px;
}
.heading{
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #0D0A19

}
.card-body h4{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #0D0A19;

}
.card-body p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #9A9EA7;
}

.card-body dot{
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.09166666865348816px;
    text-align: center;
    color: #9A9EA7;

}
.btn{
    width: 116px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    border-radius: 9px;
    margin-left: 20px;

    background-color: #7963F0;
}